# Python virtual environment
.venv/
venv/
env/
.clj-kondo/
.lsp/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# chroma_db
chroma_db/
.test-venv/
.venv/
__pycache__/
*.pyc


# Build artifacts
build/
*.egg-info/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Environment variables / secrets
.env
.env.*
!.env.example

# macOS
.DS_Store

# IDE / editors
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS temporary files
*.tmp
*.temp